{% set active_page = "data" %}

{% extends "layout.html" %}

{% block body %}
    <div class='container-fluid'>
        
        <div class="row">
            <div class="col-md-12">
                {% if scale_params.scale[1].active %}
                    <button class='btn btn-warning col-sm-1' id="disableScaleB">Disable Scale B</button>
                {% else %}
                    <button class='btn btn-success col-sm-1' id="enableScaleB">Enable Scale B</button>
                {% endif %}
            </div>
        </div>
       
        <div class="row"> 
            <!-- SCALE 1 -->
            
            <div class="col-md-6 mt-4">
               
                <div class="part-table">
                    
                    <div class="row mb-3">
                        <div class="col-md-12" style="border-bottom: 1px solid  rgba(0,123,255,0.36);">
                            <p class="text-primary"><strong><i class="fa-solid fa-scale-balanced"></i> Waage A</strong></p>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6">   
                            <select id="selectActiveWeightScaleA" class="form-control">
                                {% for weight in weights %}
                                    {% if weight.scale == 'ScaleA'%}
                                        <option value="{{weight.part_name}}">{{weight.part_name}}</option>
                                    {% endif%}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">   
                            <button class='btn btn-primary setActiveWeight' id='ScaleA'>Set Active Weight</button>
                        </div>
                    </div>
                    
                    
                    <div class="alert alert-warning">
                        <span class="col-sm-4"><strong>Active Part: <span id='ActiveWeightScaleA'>No Part active</span></strong></span>
                    </div>

                    <table class="table table-bordered table-sm mt-4">
                        <thead >
                        <tr>
                            <th style="background-color:#f8f9fa"><input class="enable-all-inputs" type="checkbox" autocomplete="off" value="" id="enable-ScaleA-inputs"></th>
                            <th style="background-color:#f8f9fa">#</th>
                            <th style="background-color:#f8f9fa">Part name</th>
                            <th style="background-color:#f8f9fa">Part number</th>
                            <th style="background-color:#f8f9fa">Zero Weight</th>
                            <th style="background-color:#f8f9fa">Low Limit</th>
                            <th style="background-color:#f8f9fa">High Limit</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set count = namespace(value=1) %}
                            
                            {% for weight in weights %}
                                {% if weight.scale == 'ScaleA' %}
                                    <tr class="WeightRowScaleA" id="{{'ScaleA_'+weight.part_name|replace(' ','_')}}">
                                        <td class="align-middle"><input class="enable-tbl-inputs checkbox-ScaleA" autocomplete="off" type="checkbox" value="0" id="ScaleA-{{ count.value }}"></td>
                                        <td class="align-middle"><strong>{{ count.value }}</strong></td>
                                        <td><input class="form-control ScaleA-input-{{ count.value }}" type="text" disabled autocomplete="off" style="width: 240px" value="{{ weight.part_name }}"></td>
                                        <td><input class="form-control ScaleA-input-{{ count.value }}" type="text" disabled autocomplete="off" style="width: 240px" value="{{ weight.part_number }}"></td>
                                        <td><input class="form-control ScaleA-input-{{ count.value }}" type="text" disabled autocomplete="off" style="width: 60px" step="0.01" value="{{ weight.weight }}" ></td>
                                        <td><input class="form-control ScaleA-input-{{ count.value }}" type="text" disabled autocomplete="off" style="width: 60px" step="0.01" value="{{ weight.ll }}" ></td>
                                        <td><input class="form-control ScaleA-input-{{ count.value }}" type="text" disabled autocomplete="off" style="width: 60px" step="0.01" value="{{ weight.hl }}" ></td>
                                    </tr>
                                    
                                    {% set count.value = count.value + 1 %}
                                {% endif %}
                            {% endfor %}
                            
                            <tr class="WeightRowScaleA" id="">
                                <td><input class="" type="checkbox" disabled autocomplete="off" value="" id="toggle_row"></td>                        
                                <td><strong>{{ count.value  }}</strong></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 240px" placeholder=""></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 240px" placeholder=""></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class='btn btn-primary col-sm-12 saveWeights' id="ScaleA">Save Weights</button>
                </div>
            </div>
            
            
            <!-- SCALE 2 -->
            
            {% if scale_params.scale[1].active %}
            <div class="col-md-6 mt-4">
                <div class="part-table">
                    <div class="row mb-3">
                        <div class="col-md-12" style="border-bottom: 1px solid  rgba(0,123,255,0.36);">
                            <p class="text-primary"><strong><i class="fa-solid fa-scale-balanced"></i> Waage B</strong></p>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                
                        <div class="col-md-6">   
                            <select id="selectActiveWeightScaleB" class="form-control">
                                {% for weight in weights %}
                                    {% if weight.scale == 'ScaleB'%}
                                        <option value="{{weight.part_name}}">{{weight.part_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">   
                            <button class='btn btn-primary setActiveWeight' id='ScaleB'>Set Active Weight</button>
                        </div>
                    </div>
                    
                    <div class="alert alert-warning">
                        <span class="col-sm-4"><strong>Active Part: <span id='ActiveWeightScaleB'>No Part active</span></strong></span>
                    </div>

                    <table class="table table-bordered table-sm mt-4">
                        <thead >
                            <tr>
                                <th style="background-color:#f8f9fa"><input class="enable-all-inputs" autocomplete="off" type="checkbox" value="" id="enable-ScaleB-inputs"></th>
                                <th style="background-color:#f8f9fa">#</th>
                                <th style="background-color:#f8f9fa">Part name</th>
                                <th style="background-color:#f8f9fa">Part Number</th>
                                <th style="background-color:#f8f9fa">Zero Weight</th>
                                <th style="background-color:#f8f9fa">Low Limit</th>
                                <th style="background-color:#f8f9fa">High Limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set count = namespace(value=1) %}
                            
                            {% for weight in weights %}
                                
                                {% if weight.scale == 'ScaleB' %}
                                    <tr class="WeightRowScaleB" id="{{'ScaleB_'+weight.part_name|replace(' ','_')}}">
                                        <td class="align-middle"><input class="enable-tbl-inputs checkbox-ScaleB" autocomplete="off" type="checkbox" value="" id="ScaleB-{{ count.value }}"></td>
                                        <td class="align-middle"><strong>{{ count.value }}</strong></td>
                                        <td><input class="form-control ScaleB-input-{{ count.value }}" disabled autocomplete="off" type="text" style="width: 240px" value="{{ weight.part_name }}"></td>
                                        <td><input class="form-control ScaleB-input-{{ count.value }}" disabled autocomplete="off" type="text" style="width: 240px" value="{{ weight.part_number }}"></td>
                                        <td><input class="form-control ScaleB-input-{{ count.value }}" disabled autocomplete="off" type="text" style="width: 60px" step="0.01" value="{{ weight.weight }}" ></td>
                                        <td><input class="form-control ScaleB-input-{{ count.value }}" disabled autocomplete="off" type="text" style="width: 60px" step="0.01" value="{{ weight.ll }}" ></td>
                                        <td><input class="form-control ScaleB-input-{{ count.value }}" disabled autocomplete="off" type="text" style="width: 60px" step="0.01" value="{{ weight.hl }}" ></td>
                                    </tr>
                                    
                                    {% set count.value = count.value + 1 %}
                                {% endif %}
                            {% endfor %}
                            <tr class="WeightRowScaleB" id="">
                                <td class="align-middle"><input class="" autocomplete="off" type="checkbox" disabled value="" id="toggle_row"></td>                         
                                <td><strong>{{ count.value }}</strong></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 240px" placeholder=""></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 240px" placeholder=""></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                                <td><input class="form-control" autocomplete="off" type="text" style="width: 60px" step="0.01" placeholder="" ></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class='btn btn-primary col-sm-12 saveWeights' id="ScaleB">Save Weights</button>
                </div>
            </div>
               
            {% endif%}
        </div>
        
    </div>
   
{% endblock %}

{% block custom_js %}
    <script src='/static/js/default.js' type='text/javascript'></script>
{% endblock %}
   