{% set active_page = "console" %}

{% extends "layout.html" %}

{% block body %}

    <div class='container-fluid'>
        <div class="row">
            

            <div class="col">
                <p class="text-primary mb-3"><strong><i class="fa-solid fa-terminal"></i> Console Output</strong></p>
                <textarea class='col-sm-12 form-control focus-input' id='logarea'rows="12" cols="25"></textarea>
            </div>
            
        </div>
        <div class="row mt-5">
            <div class="col">
                <p class="text-danger mb-3"><strong><i class="fa-solid fa-terminal"></i> Error Log</strong></p>
                <textarea class='col-sm-12 form-control focus-input' id='logarea'rows="12" cols="25"></textarea>
            </div>
        </div>
    </div>
    {% endblock %}

{% block custom_js %}
    <script src='/static/js/default.js' type='text/javascript'></script>
{% endblock %}